<app-content>
    <link href="https://fonts.googleapis.com/css?family=Athiti&amp;subset=thai" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet" type="text/css">
    <style>
        body {
          font-family: 'Athiti', sans-serif;
        }h1,h2,h3{font-family: 'Athiti', sans-serif;}
        </style> 
  	<div class="main_slider" style="background-image:url(assets/images/coure_7.png)">
      <div class="container fill_height">
        <div class="row align-items-center fill_height">
          <div class="col">
            <div class="main_slider_content">
              
              <h1><b>ติดต่อเรา</b></h1><li><a href="https://www.facebook.com/suwatjanee.maihom"><i class="fa fa-facebook" aria-hidden="true">: smnuknik</i></a></li>
              <br/>
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By SMcomscience</h2> 
                <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Tabs -->

</app-content>